.container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.settings {
  composes: f24 from 'theme/styles';
  display: inline-block;
  color: #448abf;
  cursor: pointer;
}

.container i:hover {
  color: #2e6284;
}
